@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: rgb(13, 13, 22);
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
    color: white;
}


header{
    padding: 100px;
    margin: 0px;
    background-color: rgb(30, 30, 53);
    background-image: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(img/ChatGPT\ Image\ 4\ de\ set.\ de\ 2026\,\ 09_13_51.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#textos{
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    text-align: center;}

header #titulo h1{

    font-family: "Pirata One", system-ui;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 2.8em;
    margin: 0px;
   
}

#titulo h2 {
    font-family: "Tangerine", cursive;
    font-weight: 800;
    font-style: normal;
    margin: 0px;
    font-size: 2.4em;
    translate: 25px -6px;
}


header #buttons #b2 {
    margin: 0px 0px;
    background-color: rgba(15, 15, 15, 0.925);
    border: 1px solid rgb(221, 155, 14);
    color: white;
    
}

header #buttons button {
    color: black;
    font-weight: 500;
    margin: 5px 1px;
    padding: 10px 12px;
    border: none;
    background-color: rgb(233, 162, 10);
    box-shadow: 0px 0px 10px rgba(221, 155, 14, 0.473);
    border-radius: 8px;
}

#historia{
    padding: 55px 0px 78px;
    background-color: rgba(0, 0, 0, 0.322);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

#historia h3{
    margin: 0px;
    margin-top: 10px;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(221, 156, 14);
}

.textohistoria p {
    text-indent: 10px;
    margin: 10px 7px;
}

#historia img {
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    width: 200px;

}

#historia h4{
    color: rgb(221, 156, 14);
    font-size: 1.4em;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

#cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(226, 205, 181);
    font-size: 1em;
    font-weight: 600;
    border-radius: 25px;
   
}

.card:hover{
    translate: 0px -8px;
}

.card p {margin: 1px;}

.dest{
    color: orangered;
    text-shadow: 0px 0px 10px rgba(255, 68, 0, 0.349);
}

#cardapio h3{
  margin: 0px;
  margin-top: 90px;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4em;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(221, 156, 14);
}

#cardapio p{
    text-align: center;
}

.textinho{
    margin: 20px;
}

.item{
    border: 2px solid rgba(243, 167, 4, 0.623);
    box-shadow: 0px 0px 20px rgba(243, 167, 4, 0.274);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 110px auto;
    width: 320px;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.041);
    transition: translate 0.5s;
}

.item:hover{
    translate: 0px -15px;
}

img#burguer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 316px;
}

.item h4{
    
    text-indent: 15px;
    font-family: "Pirata One", system-ui;
    letter-spacing: 2px;
    font-size: 1.8em;
    font-weight: 100;
    margin: 15px 0px;
    display: inline-block;
}

.legenda{
    
    text-indent: 2px;
    display: inline-block;
}

.ingredientes{
    color: rgba(255, 255, 255, 0.486);
    text-align: start;
    margin: 0px 10px;
}

.preco{
    color: orangered;
    font-size: 1.2em;
    font-weight: 4500;
    margin: 14px;
}

.pedir{
    gap: 5px;
    background-color: rgb(236, 166, 13);
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    display: flex;
    padding: 6px 10px 10px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.pedir:hover{
    background-color: rgb(212, 129, 4);
}

#botao{
    display: flex;
    justify-content: center;
}


#vercardapio{
    color: black;
    padding: 8px;
    font-family: "Pirata One", system-ui;
    background-color: rgb(221, 156, 14) ;
    border-radius: 5px;
    border: none;
    
    font-size: 1.5em;
    font-weight: 100;
    transition: translate 0.4s ,
    background-color 0.5s
}

#vercardapio:hover{
    translate: 0px -7px;
    background-color: rgb(212, 129, 4);
}


#contato h3{
    display: inline-block;
    font-size: 2.6em;
    font-weight: 100;
    text-align: center;
    font-weight: 400;
    margin-top: 130px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#nome{
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    color: rgb(221, 156, 14) ;
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 130px;
    margin-bottom: 5px;
}


#contato{
    text-align: center;
}



#localizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    width: 350px;
    height: 300px;
    background-color: blue;
    background-image: url(img/map.png);
    border-radius: 30px;
}

#local{
    color: rgb(221, 156, 14);
    font-size: 3em;
    text-shadow: 0px 0px 15px rgba(18, 165, 104, 0.205);
}

#localizar h4{
    margin: 0px;
    font-family: "Pirata One", system-ui;
    font-size: 2.2em;
    font-weight: 100;
}

#localizar p{
    margin: 5px;
    font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;

   font-style: normal;
    font-weight: 100;
}

#localizar button{
    color: white;
    padding: 7px;
    margin: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(221, 156, 14);
    border-radius: 5px;
    border: none;
    width: 170px;
    font-size: 1em;
    font-weight: 600;
}

.icone {
    grid-column: 1;
    grid-row: 1 / 4;

    width: 26px;
    height: 26px;
    padding: 18px;

    background-color: rgb(221, 156, 14);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(221, 155, 14, 0.438);

    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto;

    column-gap: 10px;
    row-gap: 5px;

    text-align: start;
    margin-left: 30px;
    margin-bottom: 25px;
    align-items: center;
}

.info h4 {
    grid-column: 2;
    grid-row: 1;

    margin: 0;
    color: orangered;
}

.info p {
    grid-column: 2;
    grid-row: 2;

    margin: 0;
}

#horarios {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto auto;

    column-gap: 10px;
    row-gap: 5px;

    align-items: center;
}

#horarios .icone {
    grid-column: 1;
    grid-row: 1 / 4;
}

#horarios h4 {
    grid-column: 2;
    grid-row: 1;

    margin: 0;
}

#horarios #p1 {
    grid-column: 2;
    grid-row: 2;

    margin: 0;
}

#horarios #p2 {
    grid-column: 2;
    grid-row: 3;

    margin: 0;
}